<!--The content below is only a placeholder and can be replaced.-->
  <router-outlet></router-outlet>
  <app-messages></app-messages>

  <div id='notsidebar' class='nosidebar'>
    <div id='header'>
      <div id='dark'><a id='menubutton' onClick="sidebar();"><img src='/assets/img/tdp-ball.png' alt='Team Dynamic Profiler | ISL TDP' style='height:100%;'></a></div>          
      <div id='companyname'><div id='companynameheading'>&nbsp; ISL</div> Team Dynamic Profiler</div>
    </div>
</div>
  


